<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">

    <title>Inicio</title>
</head>
<body>
    <div class="general">
        <div class="formNote">
            <form action="/NewNote" method="post">
                <p style="margin-bottom: 10px;">Notas</p>
                <div>
                    <div style="display: inline-flex; flex-direction: column; margin-right: 10px;">
                        <label for="textbox1"> Título </label>
                        <input type="text" name="textbox1" maxlength="20">
                        <label for="fecha"> Fecha </label>
                        <input type="date" id="fecha" name="fecha">
                        <input type="submit" value="Enviar" style="margin-top: 5px;">
                    </div>
                    <div style="display: inline-flex; flex-direction: column">
                        <label for="details"> Descripción </label>
                        <textarea name="details" style="width: 200px; height: 100px;" maxlength="200"></textarea>
                    </div>
                    
                </div>
            </form>
        </div>
        <div class="tableAgenda">
            {% for note in notes %}
                <div class="block-note">
                    <p> {{note[1]}} </p>
                    <p> Fecha: {{note[2]}} </p>
                    <p> Descripción: </p>
                    <p> {{note[3]}} </p>
                    
                    
                    <form action="/DeleteNote" method="post">
                        <button type="submit" style="margin-top: 10px; width: 100px;"> Eliminar </button>
                        <input type="hidden" name="noteid" value="{{note[0]}}"> 
                    </form>
                    <form action="/UpdateNotePage" method="post">
                        <button type="submit" style="margin-top: 10px; width: 100px;"> Cambiar </button>
                        <input type="hidden" name="noteid" value="{{note[0]}}"> 
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>